.pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .pesquisa {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .pesquisa > * {
    margin-bottom: 20px;
  }
}

.select {
  height: 50px;
  width: 100%;
  margin-bottom: 40px;
}

.select select {
  display: block;
  margin: 5px 0;
  color: #6a6180;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  border-left: 10px solid white;
  border-right: 10px solid white;
  overflow: hidden;
}

.select label {
  display: block;
  margin-left: 10px;
  color: #6a6180;
}

.button {
  height: 30px;
  width: 100%;
  max-width: 300px;
  outline: none;
  margin-top: 20px;
  border-radius: 5px;
  background: #fb1;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}
.button:hover {
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #fb1;
}
